@model MvcTask1App.Models.Employee
<h1>Employee details</h1>
<table>
    <thead>
        <tr>
            <td>EmployeeId</td>
            <td>FirstName</td>
            <td>LastName</td>
            <td>Gender</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.EmployeeId</td>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.Gender</td>
        </tr>
    </tbody>
</table>

